html {
  box-sizing: border-box;
}

body {
  margin: 16px;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

.printed > code {
  white-space: pre-wrap;
}

html,
body,
input,
textarea,
button,
select {
  font-family: "Fira Sans", sans-serif;
}

code,
pre,
kbd,
samp {
  font-family: "JetBrains Mono", monospace;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: normal;
  src: url("/fonts/FiraSans-Regular.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  src: url("/fonts/FiraSans-Bold.woff2") format("woff2");
  font-display: fallback;
}
